/* end reset browser styles */

* {
    margin: auto;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 800px) {
    body {
        min-width: 90%;
    }
}